/* overriding bulma CSS */

.notification.is-info {
    background-color: #e3b602;
}

#home .notification {
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}

#home .notification .image img {
    max-height: 250px;
    width: auto;
    margin: auto;
}

#home .notification p {
    padding-top: 1em;
    font-size: 1em;
}

.article-display {
	white-space: break-spaces;
}